@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Administracion de Encuestas de Clima</h2>
    <p class="lead">Módulo de Adinistración de Encuestas de Clima.</p>

</div>

<divc class="row">
    <div class="col-md-12">
        <h3>Configuraciones</h3>
    </div>
</divc>
<div class="row">
    <div class="col-md-4">

        <h4>Encuestas</h4>
        <p><a class="btn btn-default" href="./Encuestas">Administrar Encuestas.</a></p>
        <p><a class="btn btn-default" href="./Periodos">Administrar Periodos.</a></p>
        <p><a class="btn btn-default" href="./Dimensiones">Administrar Dimensiones.</a></p>
        <p><a class="btn btn-default" href="./AsignacionesEmpresas">Administrar Asignaciones.</a></p>
    </div>


    <div class="col-md-4">

        <h4>Afirmaciones</h4>
        <p><a class="btn btn-default" href="./Afirmaciones">Administrar Afirmaciones.</a></p>
        <p><a class="btn btn-default" href="./EvaluacionAfirmaciones">Resultados Afirmaciones.</a></p>


    </div>


    <div class="col-md-4">

        <h4>Cuestionarios</h4>
        <p><a class="btn btn-default" href="./TipoPreguntas">Administrar Tipos preguntas.</a></p>
        <p><a class="btn btn-default" href="./EncuestasPreguntas">Administrar Cuestionarios.</a></p>


    </div>

</div>